.chat {
  grid-column: 2;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
  overflow: auto;
}

.chat__header {
  padding: 18px;
  background-color: #9e3391;
  color: white;
}

.chat__header > p {
  padding-left: 10px;
  color: white;
  margin: 0;
}

.chat__header > h2 {
  margin-bottom: 10px;
}
.chat__file {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}
.chat__file__preview > a > img {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 5px;
  width: 25rem;
}
.chat__refmessage {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}
.chat__refmessage__preview {
  background-color: lightgrey;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.2rem 0;
  min-width: 25rem;
  text-align: center;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.5rem 0;
}

.chat__footer > form {
  flex: 1;
  display: flex;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  background-color: #f3f3f3;
}

.chat__footer > form > input:focus {
  outline: none;
}

.chat__footer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}

.chat__file__preview {
  display: flex;
  margin: auto;
}
