.chat__file {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}
.chat__file__preview > a > img {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 5px;
  width: 25rem;
}
.chat__file__preview {
  display: flex;
  margin: auto;
}
