/* .sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  max-width: 35%;
}


.sidebar__chats {
  flex: 1;
  background-color: white;
  overflow: auto;
}
 */
.sidebar {
  grid-column: 1;
  display: flex;
  overflow: auto;
}

.sidebar__chats {
  flex: 1;
}
