.message {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.message__sender {
  flex-direction: row-reverse;
}

.message__content {
  position: relative;
  font-size: 16px;
  padding: 10px;
  background-color: #9e3391;
  border-radius: 25px;
  border-bottom-left-radius: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 30em;
  color: white;
}
.message__content__sender {
  color: black;
  background-color: #f3f3f3;
  border-radius: 25px;
  border-bottom-right-radius: 5px;
}

.message__content__name {
  position: absolute;
  color: #000;
  top: -15px;
  font-weight: 800;
  font-size: x-small;
}

.message__content__file > a > img {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  padding: 5px;
  width: 29rem;
}
.message__content__file > a > img:hover {
  box-shadow: 0 0 2px 1px pink;
}

.message__content__file > a > video {
  outline: none;
}
.message__content__file > a > audio {
  outline: none;
}

.message__content__reference {
  background-color: lightgrey;
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 0.2rem;
  color: black;
}
.message__content__reference__name {
  /* position: absolute; */
  color: #000;
  /* top: -15px; */
  font-weight: 800;
  font-size: x-small;
}
.message__content__reference__file {
  padding: 0.51rem 0.2rem;
}

.message__content__reference__file img,
video {
  width: 10rem;
  height: 10rem;
}

.message__content__timestamp {
  padding-top: 10px;
  margin-left: 10px;
  font-size: xx-small;
  color: white;
}
.message__content__timestamp__sender {
  color: black;
}
.message__avatar > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 2px 5px;
}
.message__avatar__sender {
  display: none;
}
.message__button {
  padding: 1em;
}
