.chat__message {
  display: flex;
}
.chat__message__content {
  position: relative;
  font-size: 16px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 30px;
  max-width: 450px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 345;
}
.chat__sender {
  margin-left: auto;
  color: #ffffff;
  background-color: pink;
}
.message__timestamp {
  padding-top: 10px;
  margin-left: 10px;
  font-size: xx-small;
  color: #271616;
}

.message__name {
  position: absolute;
  color: #000;
  top: -15px;
  font-weight: 800;
  font-size: x-small;
}
.message__text {
  width: 100%;
}
